<div class="add-user-container">

  <h3>Ingrese los datos del nuevo usuario</h3>
  <form [formGroup]="newUserForm" (submit)="onSubmitUserInformation()" id="userForm">
    <div class="form-group">
      <label>Nombre:</label>
      <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Nombre" formControlName="name">
      <span class="error" *ngIf="newUserForm.get('name').touched && newUserForm.get('name').invalid">El valor ingresado es inválido</span>
      <label>Apellido:</label>
      <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Apellido" formControlName="lastname">
      <span class="error" *ngIf="newUserForm.get('lastname').touched && newUserForm.get('lastname').invalid">El valor ingresado es inválido</span>
    </div>

    <div class="form-group">
      <label>Matricula:</label>
      <input type="number" class="form-control" aria-describedby="emailHelp" placeholder="11792" formControlName="enrollment">
      <span class="error" *ngIf="newUserForm.get('enrollment').touched && newUserForm.get('enrollment').invalid">El valor ingresado es inválido</span>
      <label>Email:</label>
      <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Email" formControlName="email">
      <span class="error" *ngIf="newUserForm.get('email').touched && newUserForm.get('email').invalid">El valor ingresado es inválido</span>
    </div>

    <div class="form-group">
      <label>Perfil:</label>
      <select class="form-select" formControlName='profile' id="#selectProfile">
        <option *ngFor="let permission of permissionsName" value="{{permission.id_perfil}}">{{permission.nombre}}</option>
      </select>
    </div>

    <div class="form-group">
      <label>Contraseña:</label>
      <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Contraseña" formControlName="password">
      <span class="error" *ngIf="newUserForm.get('password').touched && newUserForm.get('password').invalid">El valor ingresado es inválido</span>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="newUserForm.invalid" id="submitUser">Cargar usuario</button>
  </form>

</div>


<div class="error-message" *ngIf="error">
  <h4>No se pudo crear el usuario. Intente nuevamente.</h4>
</div>
