<div class="row">
  <div class="topnavbar">
    <div class="navbar-items">
      <!--<a routerLink='home' class="navbar-title vert">Gamification</a>-->
      <a routerLink='home' class="navbar-title" style="visibility: visible !important;" @fadeInHorizontal>
        <img src="../../assets/img/logo.png" alt="logo" width="140px" height="100px">
      </a>
      <a routerLink='home' class="navbar-item vert" @fadeInHorizontal>Inicio</a>
      <a routerLink='subjects' class="navbar-item vert" @fadeInHorizontal>Materias</a>
      <a routerLink='flashcards/list' class="navbar-item vert" @fadeInHorizontal>Flashcards</a>
      <a routerLink="about" class="navbar-item vert" @fadeInHorizontal>Acerca de</a>

      <!--
      <div class="dropdown">
        <a href="#" class="navbar-item" id="onShow" onclick="return false;" @fadeInHorizontal>
          Mis materias
          <fa-icon [icon]="caretDown"></fa-icon>
        </a>

        <div class="dropdown-content" id="big-menu">
          <a routerLink='subject/{{subject.id_materia}}' class="dropdown-item list-item" *ngFor="let subject of subjects">{{subject.nombre}}</a>
          <a class="dropdown-item list-item" *ngIf="subjects.length > 0">...........................</a>
          <a class="dropdown-item last-item" routerLink='create-subject' *ngIf="canCreateSubject">Crear una nueva materia</a>
        </div>
      </div>-->
    </div>

    <div>
      <div tabindex="0" class="right-hamburger" id="onShowRight">
        <div class="hamburger">&nbsp;</div>
        <div class="hamburger">&nbsp;</div>
        <div class="hamburger">&nbsp;</div>
      </div>

      <div class="dropdown right" id="right-dropdown">
        <div class="dropdown-content">
          <!--
          <a routerLink='subject/subject.id_materia' class="dropdown-item list-item" *ngFor="let subject of subjects">{{subject.nombre}}</a>
          <a class="dropdown-item list-item">..........</a>
          <a class="dropdown-item last-item" routerLink='create-subject'>Crear una nueva clase</a>
          -->
          <a routerLink='home' class="dropdown-item list-item">Home</a>
          <a routerLink='subjects' class="dropdown-item list-item">Materias</a>
          <a routerLink='flashcards/list' class="dropdown-item list-item">Flashcards</a>
          <a routerLink="about" class="dropdown-item list-item">Acerca de</a>
          <a routerLink="profile" class="dropdown-item list-item" *ngIf="this.isAuthenticated()">Mi perfil</a>
          <a (click)="logOut()" class="dropdown-item list-item" *ngIf="this.isAuthenticated()" id="logOutList">Salir</a>
          <a routerLink='login' class="dropdown-item list-item" *ngIf="!this.isAuthenticated()">Ingresar</a>
          <a routerLink='register' class="dropdown-item list-item" *ngIf="!this.isAuthenticated()">Registrarse</a>
        </div>
      </div>

      <div class="row">
        <div class="btn-inside">
          <div class="col-md-9">
            <div class="session-btn" *ngIf="!this.isAuthenticated()">
              <div class="row">
                <div class="col-md-6">
                  <button type="button" class="btn btn-primary btn-sm" routerLink='login'>Ingresar</button>
                </div>
                <div class="col-md-6">
                  <button type="button" class="btn btn-secondary btn-sm" routerLink='register'>Registrarse</button>
                </div>
              </div>
            </div>

            <div class="session-btn" *ngIf="this.isAuthenticated()">
              <button type="button" class="btn btn-primary btn-sm" (click)="logOut()" id="logOut">Salir</button>
            </div>
          </div>

          <div class="col-md-3" style="margin-left: 50%;">
            <div class="user-profile" routerLink="profile" *ngIf="this.isAuthenticated()">
              <div class="icon-container">
                <fa-icon [icon]="graduatedIcon"></fa-icon>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>

<div class="access-admin-menu" *ngIf="canView" routerLink="admin-menu">
  Admin menu
</div>

<!--
<div class="row" style="padding: 1rem;">
  <div class="col-md-10">
    &nbsp;
  </div>
  <div class="col-md-2 session-btn" *ngIf="!this.isAuthenticated()">
    <button type="button" class="btn btn-primary btn-sm" routerLink='login'>Ingresar</button>&nbsp;&nbsp;
    <button type="button" class="btn btn-secondary btn-sm" routerLink='register'>Registrarse</button>
  </div>

  <div class="col-md-2 session-btn" *ngIf="this.isAuthenticated()">
    <button type="button" class="btn btn-primary btn-sm" routerLink='login' (click)="logOut()">Salir</button>
  </div>
</div>
-->
<!--
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="width: 100%; height: 75px;">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink='home'>Gamification</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink='home'>Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Flashcards</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item dropdown" [attr.aria-expanded]="this.isShow" aria-controls="collapseBasic" (click)="this.isShow=!this.isShow" *ngIf="this.isAuthenticated()">
          <a class="nav-link dropdown-toggle show" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Mis clases
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" [collapse]="this.isShow" [isAnimated]="true">
            <li *ngFor="let subject of subjects"><a class="dropdown-item" href="#">{{subject.nombre}}</a></li>
            <li><a class="dropdown-item">.....</a></li>
            <li><a class="dropdown-item" routerLink='create-subject'>Crear una nueva clase</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
-->
<br>
