.btn-inside
{
  .session-btn
  {
    display: inline-block;
    vertical-align: middle;
    padding: 2rem 0 0 0;
  }
}

.user-profile
{
  border-radius: 50%;
  border: 2.2px solid white;
  padding: 1% 1% 1% 2%;
  width: 6%;
  height: 6%;
  background-color: rgb(130, 165, 197);
  color: rgb(110, 110, 110);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

  &:hover
  {
    cursor: pointer;
  }

  .icon-container
  {
    width: 56%;
    margin-left: auto;
    margin-right: auto;
  }
}

.topnavbar
{
  //background-color: darkgray;
  background: linear-gradient(-45deg, #54718f, #6ba6e6);
  width: 100%;
  //padding-top: 1rem;
  //padding-bottom: 1rem;

  a
  {
    &:hover
    {
      filter: brightness(0.9);
      background-color: rgb(83, 83, 83);
    }
  }

  .navbar-items
  {
    //background-color: darkgray;

    .navbar-item
    {
      float: left;
      position: relative;
      text-decoration: none;
      padding: 0.5rem 2rem 0.5rem 2rem;
      color: rgb(227, 248, 219);
      margin-top: 2.2rem;

      &:hover
      {
        cursor: pointer;
      }
    }

    .dropdown
    {
      float: left;

      .navbar-item {

        &#onShow:focus {
          + #big-menu {
            visibility: visible;
          }
        }
      }

      .dropdown-content#big-menu:hover {
        visibility: visible;
      }
    }

    .vert
    {
      border-right: 1px solid black;
    }
  }

  .right-hamburger
  {
    margin-top: 1.5rem;
    margin-left: 85%;
    margin-right: 9.5%;
    border: rgb(114, 114, 114) solid 1px;
    border-radius: 7px;
    padding: -10rem -2rem 1rem 1rem;
    background: rgb(19,56,242);
    background: linear-gradient(45deg, rgba(19,56,242,1) 0%, rgba(10,35,105,1) 100%);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    .hamburger
    {
      border-radius: 7px;
      width: 80%;
      height: 10px;
      background-color: rgb(113, 198, 255);
      margin-top: 0.5rem;
      margin-left: auto;
      margin-right: auto;

      &:first-child
      {
        margin-top: 0.5rem;
      }

      &:last-child
      {
        margin-bottom: 0.5rem;
      }
    }

    &:hover
    {
      filter: brightness(1.25);
      cursor: pointer;
    }

    &:focus {

      +#right-dropdown
      .dropdown-content{
        visibility: visible;
      }
    }
  }

  .dropdown-content
  {
    visibility: hidden;
    position: absolute;
    z-index: 2;
    margin: 50% 0 0 35%;
    background-color: rgb(241, 238, 231);
    border-radius: 6px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    list-style: none;

    .dropdown-item
    {
      padding: 6px 6px 6px 6px;
      list-style: none;

      &:not(:last-child)
      {
        border-bottom: 1px solid rgba(100, 100, 100, 0.466);
      }

      &:hover
      {
        cursor: pointer;
      }
    }

    &:hover {
      visibility: visible;
    }
  }

  .navbar-title
  {
    float: left;
    color: black;
    margin-left: 1rem;
    //text-decoration: none;
    padding-right: 1rem;
    padding: 0.5rem 2rem 0.5rem 2rem;
    //background-color: darkgray;
  }

  .right
  {
    margin-left: 74%;
    margin-top: -12.5%;

    .dropdown-item
    {
      align-items: center;
      align-content: center;
      padding: 0.5rem 1rem 0.5rem 1rem;
    }
  }
}

.access-admin-menu
{
  padding: 1%;
  color: azure;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 3%;
  left: -6%;
  transition: all 0.4s ease-in;

  &:hover
  {
    left: 0;
    cursor: pointer;
  }
}

@media screen and (max-width: 299px)
{
  .topnavbar
  {
    height: 8rem;
    .navbar-items
    {
      visibility: hidden;
    }

    .right-hamburger
    {
      margin-top: 2rem;
      margin-left: 67%;
      margin-right: 9.5%;
    }

    .right
    {
      margin-left: 62%;
      margin-top: -22%;
    }

    .navbar-title
    {
      display: none;
    }

    .dropdown-content
    {
      margin: 60% 0 0 1%;
    }
  }

  .btn-inside
  {
    display: none;
  }

  .user-profile
  {
    display: none;
  }
}

@media screen and (min-width: 300px) and (max-width: 500px)
{
  .topnavbar
  {
    height: 7.5rem;
    .navbar-items
    {
      visibility: hidden;
    }

    .right-hamburger
    {
      margin-top: 2rem;
      margin-left: 70%;
      margin-right: 9.5%;
    }

    .right
    {
      margin-left: 67%;
      margin-top: -18%;
    }

    .dropdown-content
    {
      margin: 60% 0 0 7%;
    }
  }

  .btn-inside
  {
    display: none;
  }

  .user-profile
  {
    display: none;
  }

}

@media screen and (min-width: 501px) and (max-width: 800px)
{
  .topnavbar
  {
    height: 7.5rem;

    .navbar-items
    {
      visibility: hidden;
    }

    .right-hamburger
    {
      margin-top: 2rem;
      margin-left: 79%;
      margin-right: 9.5%;
    }

    .right
    {
      margin-left: 77%;
      margin-top: -9%;
    }

    .dropdown-content
    {
      margin: 40% 0 0 4%;
    }
  }

  .btn-inside
  {
    display: none;
  }

  .user-profile
  {
    display: none;
  }
}

@media screen and (min-width: 801px) and (max-width: 939.9px)
{
  .topnavbar
  {
    height: 7.5rem;
    .navbar-items
    {
      visibility: hidden;
    }

    .right-hamburger
    {
      margin-top: 2rem;
      margin-left: 79%;
      margin-right: 9.5%;
    }

    .right
    {
      margin-left: 77%;
      margin-top: -9%;
    }

    .dropdown-content
    {
      margin: 45% 0 0 8%;
    }
  }

  .btn-inside
  {
    display: none;
  }

  .user-profile
  {
    display: none;
  }

}

@media screen and (min-width: 940px) and (max-width: 999px)
{
  .topnavbar
  {
    //height: 7.5rem;
    .navbar-items
    {
      .navbar-item {
        display: none;
      }
    }
  }

  .right-hamburger
  {
    margin-top: 2rem;
    margin-left: 79%;
    margin-right: 9.5%;
  }

  .btn-inside
  {
    display: none;
  }

  .user-profile
  {
    display: none;
  }
}

/*@media screen and (min-width: 950px) and (max-width: 999px)
{
  .right-hamburger
  {
    display: none;
  }

  .right
  {
    display: none;
  }

  .btn-inside
  {
    margin-top: 6%;
    margin-left: -23%;
  }

  .user-profile
  {
    display: none;
  }
}*/

@media screen and (min-width: 1000px) and (max-width: 1069px)
{
  .right-hamburger
  {
    display: none;
  }

  .right
  {
    display: none;
  }

  .btn-inside
  {
    margin-top: 5%;
    margin-left: 8%;
  }

  .user-profile
  {
    margin-top: -4.8vw;
    margin-left: 10vw;
    padding-top: 0.1vw;
    width: 6.5vw;
    height: 6.5vw;
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 1070px) and (max-width: 1100px)
{
  .right-hamburger
  {
    display: none;
  }

  .right
  {
    display: none;
  }

  .btn-inside
  {
    margin-left: 20%;
    margin-top: 3%;
  }

  .user-profile
  {
    margin-top: -4.8vw;
    margin-left: 10vw;
    padding-top: 0.1vw;
    width: 6.5vw;
    height: 6.5vw;
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 1400px) and (min-width: 1101px)
{
  .right-hamburger
  {
    display: none;
  }

  .right
  {
    display: none;
  }

  .btn-inside
  {
    margin-left: 20%;
    margin-top: 3%;
  }

  .user-profile
  {
    margin-top: -4.8vw;
    margin-left: 10vw;
    padding: 30%;
    width: 6.5vw;
    height: 6.5vw;
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 1401px)
{
  .right-hamburger
  {
    display: none;
  }

  .right
  {
    display: none;
  }

  .btn-inside
  {
    margin-left: 45%;
  }

  .user-profile
  {
    margin-top: -3.5vw;
    margin-left: 10vw;
    padding: 30%;
    width: 5.5vw;
    height: 5.5vw;
    font-size: 2.5rem;

    .icon-container
    {
      width: 55%;
    }
  }
}
