<ul class="list-group" style="padding-right: 20px;">
  <a routerLink='{{onAddQuestion()}}'> <li class="list-group-item list-group-item-primary">Agregar una nueva pregunta</li></a>
  <a> <li class="list-group-item list-group-item-info" (click)='onEditBadges()'>Ver listado de insignias</li> </a>
  <a> <li class="list-group-item list-group-item-success">Agregar una nueva insignia</li> </a>
  <a> <li class="list-group-item list-group-item-danger">Estadísticas</li> </a>
  <a routerLink='{{onEditQuestions()}}'> <li class="list-group-item list-group-item-light">Editar banco de preguntas</li> </a>
</ul>

<app-badge-menu [idLevel]='editingLevelId' (successfulUpdate)='closeWindow($event)'
(errorMessage)='receiveErrorEvent($event)' *ngIf="showBadgeMenu"></app-badge-menu>
