.modal-view
{
  width: 150%;
  margin-left: -25%;
  position: absolute;
  background-color: rgb(125, 172, 167);
  border-radius: 4px;
  color: whitesmoke;

  .title
  {
    font-size: 2rem;
    border-bottom: 2px solid grey;
    width: 100%;
    margin: 2rem;
    margin-bottom: -3rem;
  }

  .arrow
  {
    position: relative;
    background-color: grey;
    border-radius: 5px;
    font-size: 3rem;
    font-weight: bold;

    &:hover
    {
      filter: brightness(1.1);
    }
  }

  .left
  {
    margin-top: 45%;
    margin-left: -1.3rem;
  }

  .right
  {
    margin-top: 45%;
    margin-left: 28.5rem;
    margin-right: -10rem;
  }
}

.form
{
  margin: 40px 0px 40px 40px;

  .form-element
  {

    .form-input
    {
      width: 100%;
      padding: 10px 15px;
      margin: 8px 10% 0 0;
      display: inline-block;
      border-top: 0;
      border-right: 0;
      border-left: 0;
      border-bottom: 2px solid #ccc;
      box-sizing: border-box;
      background-color: rgb(125, 172, 167);
      transition: border-color 0.5s ease-in-out;

      &:focus
      {
        border-color: chartreuse;
        outline: chartreuse;
        //border-bottom: 3px solid chartreuse;
      }
    }

    .form-input[type=date]
    {
      width: 100%;
      padding: 10px 15px;
      margin: 8px 10% 0 0;
      background-color: rgb(125, 172, 167);
      border:0;
      transition: border-color 0.5s ease-in-out;

      &:focus
      {
        border-color: chartreuse;
        outline: chartreuse;
        border: 2px solid chartreuse;
        border-radius: 4px;
      }
    }

    .checkbox-wrapper
    {
      float: left;
      margin-top: 2rem;


      .checkmark
      {
        background-color: black;
        margin: 6px 1rem 0 0;
        display: inline-block;
        width: 2rem;
        height: 2rem;
        background-color: #ddd;
        border-radius: 10px;
        position: relative;
        transition: background-color 0.4s;

        &::after
        {
          content: "";
          position: absolute;
          width: 0.8rem;
          height: 1.8rem;
          border-right: 5px solid #fff;
          border-bottom: 5px solid #fff;
          top: 40%;
          left: 50%;
          transform: translate(-50%, -50%) rotate(40deg) scale(10);
          visibility: hidden;
          transition: all .4s;
        }
      }

      #check:checked ~ .checkmark
      {
        background-color: #08bb68;

        &::after
        {
          visibility: visible;
          transform: translate(-50%, -50%) rotate(40deg) scale(1);
        }
      }

      #check_question:checked ~ .checkmark
      {
        background-color: #08bb68;

        &::after
        {
          opacity: 1;
          transform: translate(-50%, -50%) rotate(40deg) scale(1);
        }
      }

      .check-title
      {
        position: absolute;
        display: inline-block;
        font-size: 1.3rem;
      }

    }

  }

  .input-title
  {
    margin-top: 2rem;
    width: 100%;
    font-size: 1.3rem;
  }

  .input-subtitle
  {
    margin-top: 1rem;
    width: 100%;
    font-size: 1rem;
  }

  .bold-subtitle
  {
    font-weight: bold;
  }

  button
  {
    margin-top: 2rem;
    margin-left: 45%;
  }

  .badges-container
  {
    float: left;
    display: inline;
    //margin-top: 2rem;
    margin-right: 10%;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 7px;
    padding: 1rem;
    //height: 13rem;

    .badge
    {
      width: 25%;
      margin-left: 1%;
      transition: all 0.4s ease;

      .text-badge
      {
        margin-top: 0.3rem;
        font-size: 0.6rem;
        visibility: hidden;
        display: block;
        overflow: unset;
      }

      img
      {
        width: 100%;
        filter: brightness(0.5);
      }

      .change-brightness
      {
        filter: brightness(1.2);
      }

      &:first-child
      {
        margin-left: -1%;
      }

      &:last-child
      {
        margin-right: -2.5%;
      }

      &:hover
      {
        transform: translateY(-15px);

        .text-badge
        {
          display: block;
          visibility: visible;
        }
      }


    }
  }

}

@media screen and (max-width: 767px) {
  .modal-view
  {
    width: 100%;
    margin-left: 0;
  }
}


@media screen and (max-width: 600px)
{
  .modal-view
  {
    .right
    {
      margin-left: 2rem;
      margin-right: 0rem;
    }
  }

  .form
  {
    .badges-container
    {
      .badge
      {
        .text-badge
        {
          font-size: 0.5rem;
        }
      }
    }
  }
}
