<div class="container modal-view">
  <div class="row">

    <span class="title">Ingrese los datos del nuevo nivel:</span>
    <form class="form" [formGroup]="newLevelForm" #fform="ngForm" (ngSubmit)="onSubmitLevel()" *ngIf="mostrarPrimero" id="levelcreateform">
      <div class="form-element">

        <label class="input-title">Descripcion:</label>
        <div class="row">
          <input class="form-input" formControlName="description" placeholder="Nivel introductorio" maxlength="200" rows="5">
        </div>

        <label class="input-title">Fecha recomendada de realización:</label>
        <div class="row">
          <input type="date" formControlName="recommended_date" class="form-input" placeholder="17/06/2021">
        </div>

        <label class="input-title">Puntaje máximo:</label>
        <div class="row">
          <input type="number" formControlName="max_score" class="form-input" placeholder="30" min='1' max="99999">
          <span *ngIf="newLevelForm.get('max_score').touched && newLevelForm.get('max_score').invalid" style="color: red;">
            Ingrese un valor válido.
          </span>
        </div>

        <label class="input-title">Cantidad de preguntas a responder:</label>
        <div class="row">
          <input type="number" formControlName="count_questions" class="form-input" placeholder="15" min='1'>
          <span *ngIf="newLevelForm.get('count_questions').touched && newLevelForm.get('count_questions').invalid" style="color: red;">
            Ingrese un valor válido.
          </span>
        </div>

        <div class="checkbox-wrapper row">
          <input type="checkbox" formControlName="allowAttempts" class="form-input" id="check" hidden>
          <label class="checkmark" for="check"></label>
          <label class="check-title" for="check">Permite reintentos</label>

          <span *ngIf="newLevelForm.get('allowAttempts').touched && newLevelForm.get('allowAttempts').invalid" style="color: red;">
            Ingrese un valor válido.
          </span>
        </div>

        <label class="input-title">Penalización (%):</label>
        <div class="row">
          <input type="number" formControlName="penalization" class="form-input" placeholder="30" min='0' max="100">
          <span *ngIf="newLevelForm.get('penalization').touched && newLevelForm.get('penalization').invalid" style="color: red;">
            Ingrese un valor válido.
          </span>
        </div>

        <label class="input-title">Insignias:</label>


        <div class="badges-container">

          <div class="badge">
            <!--<input type="checkbox" formControlName="uso" class="form-input" id="check-question" hidden>-->
            <label for="check-question">
              <img src="../../assets/img/badges/question_badge.png" alt="" [ngClass]="{'change-brightness': newLevelForm.get('badges_checkbox.checkQuestion_uso').value}">
            </label>
            <div class="text-badge" for="check-question">Preguntas seguidas</div>
            <!--<input type="number" formControlName="valor_bonus" class="form-input" placeholder="30" min='0' max="100" *ngIf="newLevelForm.get('badges.checkQuestion.uso').value">-->
          </div>

          <div class="badge">
            <!--<input type="checkbox" formControlName="uso" class="form-input" id="check-timer" hidden>-->
            <label for="check-timer">
              <img src="../../assets/img/badges/timer_badge.png" alt="" [ngClass]="{'change-brightness': newLevelForm.get('badges_checkbox.checkTimer_uso').value}">
            </label>
            <div class="text-badge" for="check-timer">Tiempo utilizado</div>
            <!--<input type="number" formControlName="valor_bonus" class="form-input" placeholder="30" min='0' max="100" *ngIf="newLevelForm.get('badges.checkTimer.uso').value">-->
          </div>

          <div class="badge">
            <!--<input type="checkbox" formControlName="uso" class="form-input" id="check-date" hidden>-->
            <label for="check-date">
              <img src="../../assets/img/badges/date_badge.png" alt="" [ngClass]="{'change-brightness': newLevelForm.get('badges_checkbox.checkDate_uso').value}">
            </label>
            <div class="text-badge" for="check-date">Fecha límite</div>
            <!--<input type="number" formControlName="valor_bonus" class="form-input" placeholder="30" min='0' max="100" *ngIf="newLevelForm.get('badges.checkDate.uso').value">-->
          </div>

          <div class="badge">
            <!--<input type="checkbox" formControlName="uso" class="form-input" id="check-attempt" hidden>-->
            <label for="check-attempt">
              <img src="../../assets/img/badges/attempts_badge.png" alt="" [ngClass]="{'change-brightness': newLevelForm.get('badges_checkbox.checkAttempt_uso').value}">
            </label>
            <div class="text-badge" for="check-date">Intento máximo</div>
            <!--<input type="number" formControlName="valor_bonus" class="form-input" placeholder="30" min='0' max="100" *ngIf="newLevelForm.get('badges.checkAttempt.uso').value">-->
          </div>

        </div>

        <div formGroupName='badges_checkbox'>
          <input type="checkbox" formControlName="checkQuestion_uso" class="form-input" id="check-question" hidden>
          <input type="checkbox" formControlName="checkTimer_uso" class="form-input" id="check-timer" hidden>
          <input type="checkbox" formControlName="checkDate_uso" class="form-input" id="check-date" hidden>
          <input type="checkbox" formControlName="checkAttempt_uso" class="form-input" id="check-attempt" hidden>
        </div>


        <label class="input-title">Parámetros de insignias:</label>

        <div formGroupName='badges'>
          <div formGroupName="checkQuestion" *ngIf="newLevelForm.get('badges_checkbox.checkQuestion_uso').value">
            <label class="input-subtitle bold-subtitle">Insignia de preguntas:</label><br>

            <label class="input-subtitle">Preguntas seguidas a responder:</label>
            <div class="row">
              <input type="number" formControlName="preguntas_seguidas" class="form-input" placeholder="1" min='0'>
              <span *ngIf="newLevelForm.get('badges.checkQuestion.preguntas_seguidas').touched && newLevelForm.get('badges.checkQuestion.preguntas_seguidas').invalid" style="color: red;">
                Ingrese un valor válido.
              </span>
            </div>

            <label class="input-subtitle">Puntaje extra (%):</label>
            <div class="row">
              <input type="number" formControlName="valor_bonus" class="form-input" placeholder="1" min='0'>
              <span *ngIf="newLevelForm.get('badges.checkQuestion.valor_bonus').touched && newLevelForm.get('badges.checkQuestion.valor_bonus').invalid" style="color: red;">
                Ingrese un valor válido.
              </span>
            </div>
          </div>

          <div formGroupName="checkTimer" *ngIf="newLevelForm.get('badges_checkbox.checkTimer_uso').value">
            <label class="input-subtitle bold-subtitle">Insignia de tiempo:</label>

            <label class="input-subtitle">Tiempo máximo:</label>
            <div class="row">
              <input type="number" formControlName="max_time" class="form-input" placeholder="1" min='0'>
              <span *ngIf="newLevelForm.get('badges.checkTimer.max_time').touched && newLevelForm.get('badges.checkTimer.max_time').invalid" style="color: red;">
                Ingrese un valor válido.
              </span>
            </div>

            <div class="checkbox-wrapper row">
              <input type="checkbox" formControlName="por_pregunta" class="form-input" id="check_question" hidden>
              <label class="checkmark" for="check_question"></label>
              <label class="check-title" for="check_question">Por pregunta</label>

              <span *ngIf="newLevelForm.get('badges.checkTimer.por_pregunta').touched && newLevelForm.get('badges.checkTimer.por_pregunta').invalid" style="color: red;">
                Ingrese un valor válido.
              </span>
            </div>

            <label class="input-subtitle">Puntaje extra (%):</label>
            <div class="row">
              <input type="number" formControlName="valor_bonus" class="form-input" placeholder="1" min='0'>
              <span *ngIf="newLevelForm.get('badges.checkTimer.valor_bonus').touched && newLevelForm.get('badges.checkTimer.valor_bonus').invalid" style="color: red;">
                Ingrese un valor válido.
              </span>
            </div>
          </div>

          <div formGroupName="checkDate" *ngIf="newLevelForm.get('badges_checkbox.checkDate_uso').value">
            <label class="input-subtitle bold-subtitle">Insignia de fecha:</label>

            <label class="input-subtitle">Fecha de realización:</label>
            <div class="row">
              <input type="date" formControlName="recommended_date" class="form-input" placeholder="17/06/2021">
            </div>

            <label class="input-subtitle">Puntaje extra (%):</label>
            <div class="row">
              <input type="number" formControlName="valor_bonus" class="form-input" placeholder="1" min='0'>
              <span *ngIf="newLevelForm.get('badges.checkDate.valor_bonus').touched && newLevelForm.get('badges.checkDate.valor_bonus').invalid" style="color: red;">
                Ingrese un valor válido.
              </span>
            </div>
          </div>

          <div formGroupName="checkAttempt" *ngIf="newLevelForm.get('badges_checkbox.checkAttempt_uso').value">
            <label class="input-subtitle bold-subtitle">Intentos máximos:</label>

            <label class="input-subtitle">Máximos intentos a realizar:</label>
            <div class="row">
              <input type="number" formControlName="max_attempts" class="form-input" placeholder="1" min='0'>
              <span *ngIf="newLevelForm.get('badges.checkAttempt.max_attempts').touched && newLevelForm.get('badges.checkAttempt.max_attempts').invalid" style="color: red;">
                Ingrese un valor válido.
              </span>
            </div>

            <label class="input-subtitle">Puntaje extra (%):</label>
            <div class="row">
              <input type="number" formControlName="valor_bonus" class="form-input" placeholder="1" min='0'>
              <span *ngIf="newLevelForm.get('badges.checkAttempt.valor_bonus').touched && newLevelForm.get('badges.checkAttempt.valor_bonus').invalid" style="color: red;">
                Ingrese un valor válido.
              </span>
            </div>
          </div>
        </div>

        <label class="input-title">Unidades:</label>

        <label>Cantidad de unidades:</label>
        <div class="row">
          <input type="number" formControlName="nUnits" class="form-input" placeholder="1" min='0'>
          <span *ngIf="newLevelForm.get('nUnits').touched && newLevelForm.get('nUnits').invalid" style="color: red;">
            Ingrese un valor válido.
          </span>
        </div>

        <div class="row" style="margin-left: -6% !important;" *ngIf="this.getItemsControl().length > 0">
          <label class="input-title">Ingrese el título de las unidades a continuación:</label>

          <div class="col-md-12" *ngFor="let unitName of getItemsControl().controls; index as i" formArrayName="units">
            <label class="input-title">Unidad {{i+1}}:</label>

            <input [formControlName]="i" class="form-input" style="width: 92%;">
          </div>
        </div>
      </div>
      <button class="btn btn-secondary" type="submit" [disabled]="!enableCreation()">Crear nivel</button>
    </form>

    <!--<form class="form" [formGroup]="newUnitForm" (ngSubmit)="onSubmitUnit()" *ngIf="!mostrarPrimero" id="unitname">
      <div class="form-element">

        <label class="input-title">Título de la unidad número {{actualPage}}</label>
        <div class="row">
          <input type="text" formControlName="unitName" class="form-input" placeholder="Unidad 1">
        </div>
      </div>

      <button class="btn btn-secondary mb-3" type="submit" [disabled]="!newUnitForm.valid" id="submitunit">Cargar</button>
    </form>-->

  </div>

  <!--<div class="row" *ngIf="numberUnits>0">

    <a (click)="onLeft()" id="clickLeft">
      <fa-icon [icon]="doubleLeft" class="arrow left"></fa-icon>
    </a>

    <a (click)="onRight()" id="clickRight">
      <fa-icon [icon]="doubleRight" class="arrow right"></fa-icon>
    </a>

  </div>-->
</div>
