$background-content-color: rgb(230, 230, 230);

.profile-container
{
  background-color: white;
  width: 95%;
  border-radius: 12px;
  margin-left: auto;
  margin-right: auto;
  padding: 2% 2% 20% 2%;

  .title
  {
    font-size: 2rem;
    color: grey;
    font-weight: bold;

    .image
    {
      height: 100%;
      width: 38%;
      margin-left: auto;
      margin-right: auto;
      padding: 2% 6% 2% 6%;
      border: 2px solid rgb(128, 198, 255);
      border-radius: 16px;
    }
  }

  .line
  {
    border-bottom: 1px solid grey;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .content
  {
    margin-top: 1%;
    background-color: $background-content-color;
    padding-top: 2%;
    font-weight: bold;

    .row
    {
      padding: 0 2% 4% 2%;

      .info
      {
        padding-left: 2%;
        font-weight: normal;
        color: rgb(92, 92, 92);
      }

      input
      {
        color: rgb(112, 112, 112);
        font-weight: bold;
        height: 40%;
        outline: 0;
        border-bottom: 1px solid steelblue !important;
        border: 0;
        background-color: $background-content-color;
        transition: all 0.2s ease-in;
        margin-bottom: 10%;

        &:focus
        {
          border-bottom: 2.5px solid steelblue !important;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
        }

        &:hover
        {
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
        }
      }
    }
  }

  .button-container
  {
    padding-top: 3%;
    margin-left: auto;
    margin-right: auto;
  }

  .change-password
  {
    margin-top: 2%;
    margin-bottom: 3%;
  }

  .change-password-menu
  {
    padding: 3%;
    font-weight: bold;
    border: 1px solid steelblue;
    border-radius: 12px;

    input
    {
      color: rgb(112, 112, 112);
      font-weight: bold;
      height: 40%;
      outline: 0;
      border-bottom: 1px solid steelblue !important;
      border: 0;
      background-color: whitesmoke;
      transition: all 0.2s ease-in;
      margin-bottom: 10%;

      &:focus
      {
        border-bottom: 2.5px solid steelblue !important;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
      }

      &:hover
      {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
      }
    }
  }

  .error-container
  {
    color: red;

    span
    {
      width: 100%;
    }
  }
}

@media screen and (max-width: 768px)
{
  .profile-container
  {
    .content
    {
      .row
      {
        input
        {
          height: 70%;
        }
      }
    }
  }
}
