<div class="row">
  <div class="col" style="margin: 0 0 1% 1%;">
    <button class="btn btn-secondary" (click)="onGoBack()">
      <fa-icon [icon]="arrowLeftIcon"></fa-icon>
      Volver
    </button>
  </div>
</div>

<div class="selection-container">
  <div class="row title" style="padding: 1rem 0 1rem 0;">
    <div class="col-md-9">
      <h2>Seleccione el tipo de pregunta que desea crear:</h2>
    </div>
    <div class="col-md-3">
      <button class="btn btn-success" (click)="onGoQuestionBank()">Acceder al banco de preguntas</button>
    </div>
  </div>

  <div class="row" style="margin: 1rem;">
    <div class="col">
      <div class="card-option" (click)='onSelectType(1)'>
        <div class="card-option-img">
          <img src="../../../assets/img/one_choice_question.png">
        </div>
        <div class="card-option-text">
          Una sola respuesta
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card-option" (click)='onSelectType(2)'>
        <div class="card-option-img">
          <img src="../../../assets/img/multiple_choice_question.png">
        </div>
        <div class="card-option-text">
          Multiple respuesta
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>

</div>

