<div class="selection-container">
  <div class="row">
    <div class="col">
      <h2>Seleccione el tipo de pregunta que desea crear:</h2>
    </div>
  </div>

  <div class="row" style="margin: 1rem;">
    <div class="col">
      <div class="card-option" (click)='onSelectType(1)'>
        <div class="card-option-img">
          <img src="../../../assets/img/one_choice_question.png">
        </div>
        <div class="card-option-text">
          Una sola respuesta
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card-option" (click)='onSelectType(2)'>
        <div class="card-option-img">
          <img src="../../../assets/img/multiple_choice_question.png">
        </div>
        <div class="card-option-text">
          Multiple respuesta
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>

</div>

