<div class="row">
  <div class="col-md-10">

    <div class="row">
      <div class="col-md-4 left-text">
        Ingrese los datos para crear la nueva pregunta
      </div>

      <div class="col-md-8">
        <div class="form-element">
          <form class="form-question" [formGroup]="newQuestionForm" #fform="ngForm">
              <div class="row">

                <div class="col-md-5">
                  <label class="input-title">Pregunta:</label>
                </div>

                <div class="col-md-7">
                  <textarea type="text" class="form-input" formControlName="question" placeholder="¿Qué es un bit?" maxlength="100" rows="3"></textarea>
                  <span class="alert-valid" *ngIf="newQuestionForm.get('question').touched && newQuestionForm.get('question').invalid">Ingrese una pregunta válida.</span>
                </div>

              </div>

              <div class="row top-space">
                <input type="checkbox" formControlName="difficult">
                <label class="input-title">¿Pregunta difícil?</label>
              </div>

              <div class="row top-space">
                <div class="col-md-5">
                  <label class="input-title">Tiempo (seg):</label>
                </div>

                <div class="col-md-7">
                  <input type="number" class="form-input" formControlName="time" min="0">
                  <span class="alert-valid" *ngIf="newQuestionForm.get('time').touched && newQuestionForm.get('time').invalid">Ingrese una valor válida.</span>
                </div>
              </div>

              <div class="row top-space">
                <div class="col-md-5">
                  <label class="input-title">Recompensa (monedas):</label>
                </div>

                <div class="col-md-7">
                  <input type="number" class="form-input" formControlName="coins" min="0">
                  <span class="alert-valid" *ngIf="newQuestionForm.get('coins').touched && newQuestionForm.get('coins').invalid">Ingrese una valor válida.</span>
                </div>
              </div>

              <!--
              <div class="row top-space">

                <div class="col-md-5">
                  <label class="input-title">Aporte al puntaje total (%):</label>
                </div>

                <div class="col-md-7">
                  <input type="number" class="form-input" formControlName="score" placeholder="25" min="0">
                  <span class="alert-valid" *ngIf="newQuestionForm.get('score').touched && newQuestionForm.get('score').invalid">Ingrese un porcentaje válido.</span>
                </div>

              </div>
              -->
          </form>

          <form class="form-question" [formGroup]="newOptionsForm" (ngSubmit)="onSubmitQuestion()" style="margin-top: -2rem;">
              <div class="row">
                <div class="title">
                  Opciones:
                </div>

                  <div class="row" formGroupName="option1" style="width: 100%;">
                    <div class="col-md-4">
                      <label class="input-title">Opción 1:</label>
                    </div>

                    <div class="col-md-7">
                      <input type="text" class="form-input" formControlName="text" placeholder="Opcion 1" ng-disabled="true">
                    </div>

                    <div class="col-md-1 margin-left-checkbox">
                      <input type="checkbox" formControlName="score" *ngIf="!checkboxControl[0]">
                      <input type="checkbox" formControlName="score" disabled='true' *ngIf="checkboxControl[0]">
                    </div>
                  </div>

                  <div class="row" formGroupName="option2" style="width: 100%;">
                    <div class="col-md-4">
                      <label class="input-title">Opción 2:</label>
                    </div>

                    <div class="col-md-7">
                      <input type="text" class="form-input" formControlName="text" placeholder="Opcion 2">
                    </div>

                    <div class="col-md-1 margin-left-checkbox">
                      <input type="checkbox" formControlName="score" *ngIf="!checkboxControl[1]">
                      <input type="checkbox" formControlName="score" disabled='true' *ngIf="checkboxControl[1]">
                    </div>
                  </div>

                  <div class="row" formGroupName="option3" style="width: 100%;">
                    <div class="col-md-4">
                      <label class="input-title">Opción 3:</label>
                    </div>

                    <div class="col-md-7">
                      <input type="text" class="form-input" formControlName="text" placeholder="Opcion 3">
                    </div>

                    <div class="col-md-1 margin-left-checkbox">
                      <input type="checkbox" formControlName="score" *ngIf="!checkboxControl[2]">
                      <input type="checkbox" formControlName="score" disabled='true' *ngIf="checkboxControl[2]">
                    </div>
                  </div>

                  <div class="row" formGroupName="option4" style="width: 100%;">
                    <div class="col-md-4">
                      <label class="input-title">Opción 4:</label>
                    </div>

                    <div class="col-md-7">
                      <input type="text" class="form-input" formControlName="text" placeholder="Opcion 4">
                    </div>

                    <div class="col-md-1 margin-left-checkbox">
                      <input type="checkbox" formControlName="score" *ngIf="!checkboxControl[3]" id="check">
                      <input type="checkbox" formControlName="score" disabled='true' *ngIf="checkboxControl[3]">
                    </div>
                  </div>

                  <span class="alert-valid shorter" *ngIf="
                  (newOptionsForm.get('option1.text').touched && newOptionsForm.get('option1.text').invalid)
                  || (newOptionsForm.get('option2.text').touched && newOptionsForm.get('option2.text').invalid)
                  || (newOptionsForm.get('option3.text').touched && newOptionsForm.get('option3.text').invalid)
                  || (newOptionsForm.get('option4.text').touched && newOptionsForm.get('option4.text').invalid)">
                    Debe ingresar una respuesta para cada opción.
                  </span>
              </div>
              <button class="btn btn-primary" style="margin-top: 2.6rem;" [disabled]='newOptionsForm.invalid || newQuestionForm.invalid'>
                Crear pregunta
              </button>
          </form>
        </div>
    </div>
  </div>
  <div class="col-md-2">&nbsp;</div>
</div>
