<div class="container card">
  <h2>Registro de nuevo usuario</h2><hr>
  <div class="row">

    <div class="col-md-3 left-side-form">
      <div class="left-side-form__text">
        <h3>Ingrese los datos solicitados</h3>
      </div>
    </div>

    <div class="col-md-9">
      <form class="form-horizontal" [formGroup]="newUserForm" #fform="ngForm" id="userRegisterForm">
        <div class="form-group">
						<label class="col-lg-4 control-label">Nombre</label>
						<div class="col-md-8">
							<input type="text" class="form-control" formControlName="name" placeholder="Federico">
              <span *ngIf="newUserForm.get('name').touched && newUserForm.get('name').invalid" class="error-alert-form">Inserte un nombre válido.</span>
            </div>
            <label class="col-lg-4 control-label">Apellido</label>
						<div class="col-md-8">
							<input type="text" class="form-control" formControlName="lastname" placeholder="Martinez">
              <span *ngIf="newUserForm.get('lastname').touched && newUserForm.get('lastname').invalid" class="error-alert-form">Inserte un apellido válido.</span>
            </div>
            <label class="col-lg-4 control-label">Email</label>
						<div class="col-md-8">
							<input type="text" class="form-control" formControlName="mail" placeholder="fede_mart99@gmail.com">
              <span *ngIf="newUserForm.get('mail').touched && newUserForm.get('mail').errors" class="error-alert-form">Inserte un mail válido.</span>
            </div>

            <div formGroupName="passwordmenu">
              <label class="col-lg-4 control-label">Contraseña</label>
              <div class="col-md-8">
                <input type="password" class="form-control" formControlName="password" placeholder="Contraseña">
                 <span *ngIf="newUserForm.get('passwordmenu.password').touched &&
                  newUserForm.get('passwordmenu.password').getError('containsNumber')" class="error-alert-form">
                  La contraseña debe contener números <br></span>

                <span *ngIf="newUserForm.get('passwordmenu.password').touched &&
                newUserForm.get('passwordmenu.password').getError('specialCharacter')" class="error-alert-form">
                La contraseña debe contener caracteres especiales <br></span>

                <span *ngIf="newUserForm.get('passwordmenu.password').touched &&
                newUserForm.get('passwordmenu.password').getError('upperCase')" class="error-alert-form">
                La contraseña debe contener mayúsculas <br></span>
              </div>

              <label class="col-lg-4 control-label">Confirme contraseña</label>
              <div class="col-md-8">
                <input type="password" class="form-control" formControlName="repeatpassword" placeholder="Contraseña">
                <span *ngIf="this.newUserForm.get('passwordmenu.repeatpassword').touched &&
                  this.newUserForm.get('passwordmenu').getError('mustMatch')" class="error-alert-form">
                  Las contraseña deben coincidir
                  </span>
              </div>
            </div>

            <label class="col-lg-4 control-label">Matricula o DNI</label>
						<div class="col-md-8">
							<input type="text" class="form-control" formControlName="enrollment" placeholder="11792">
              <span *ngIf="newUserForm.get('enrollment').touched && newUserForm.get('enrollment').errors" class="error-alert-form">Inserte una matricula válida.</span>
              <span *ngIf="newUserForm.get('enrollment').touched && newUserForm.get('enrollment').errors" class="error-alert-form">
                Longitud mínima 5 y máxima 8</span>
            </div>
          </div>
          <button class="btn btn-primary mb-3" type="submit" [disabled]="newUserForm.invalid" (click)="onSubmit()">Registrarse</button>

          <app-loading-spinner *ngIf="getLoadingLogin()"></app-loading-spinner>
          <div class="successful-message" *ngIf="getSuccessMessage()">Te enviamos un mail para activar tu cuenta</div>

          <br><span *ngIf="newUserError" style="color: red;">Ocurrió un error al ingresar el usuario.</span>
      </form>
    </div>

  </div>
</div>
