<div class="presentation-container">

  <ngb-carousel *ngIf="imagesCarousel" interval="5000" class="carousel-wrap">
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="imagesCarousel[0]" alt="Random first slide" height="auto" width="100%">
      </div>
      <div class="carousel-caption">
        <!--
        <h3>First slide label</h3>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>-->
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="imagesCarousel[1]" alt="Random second slide" height="auto" width="100%">
      </div>
      <div class="carousel-caption">
        <!--
        <h3>Second slide label</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>-->
      </div>
    </ng-template>
  </ngb-carousel>

  <div class="row card-container">

    <div class="col-md-2 card" @fadeIn>
      <!--<div class="border-title"></div>-->
      <div class="card-text juego-margin">
        <p>{{this.blockNames[0]}}</p>
      </div>
      <!--<div class="border-title"></div>-->
    </div>

    <div class="col-md-2 card" @fadeIn>
      <!--<div class="border-title"></div>-->
      <div class="card-text-little diversion-margin">
        <p>{{this.blockNames[1]}}</p>
      </div>
      <!--<div class="border-title"></div>-->
    </div>

    <div class="col-md-2 card" @fadeIn>
      <!--<div class="border-title"></div>-->
      <div class="card-text-little flashcard-margin">
        <p>{{this.blockNames[2]}}</p>
      </div>
      <!--<div class="border-title"></div>-->
    </div>

    <div class="col-md-2 card" @fadeIn>
      <!--<div class="border-title"></div>-->
      <div class="card-text-little competencia-size">
        <p>{{this.blockNames[3]}}</p>
      </div>
      <!--<div class="border-title"></div>-->
    </div>
  </div>

  <div class="row footer-container">
    <div class="row options">
      <div class="col-md option" (click)="openLink('http://campus.fi.mdp.edu.ar/')">
        <h5 class="campus-margin">Campus FI</h5>
      </div>
      <div class="col-md option" (click)="openLink('https://portalsiu.mdp.edu.ar/autogestion/acceso/login?ref=https://portalsiu.mdp.edu.ar/autogestion/inicio_alumno')">
        <h5 class="siu-margin">SIU Guaraní</h5>
      </div>
      <div class="col-md option" routerLink="/help">
        <h5 class="ayuda-margin">Ayuda</h5>
      </div>
    </div>

    <div class="row">
      &nbsp;
    </div>

  </div>

</div>
