$background-color: #63d1db;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

.left-side-form
{
  background-size: cover;
  background-position: top;
  position: relative;
  background-image: linear-gradient(to right bottom, $background-color, rgba(40, 180, 133));
  display: block;
  font-size: 6rem;
  font-weight: 400;

  &__text
  {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: whitesmoke;
  }
}

.options-login-container
{
  padding: 5% 15% 5% 15%;
  margin-left: 15%;

  .login-button-container
  {
    width: 100%;
    padding: 4%;

    button
    {
      width: 78%;
      border-radius: 10px;
      border: 3px solid rgb(179, 179, 179);
      box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
      font-family: 'Open Sans', sans-serif;

    }

    .google
    {
      background-color: rgb(226, 226, 226);
      font-weight: bold;
      color: rgb(153, 153, 153);
      float: left;

      img
      {
        border-radius: 6px;
        background-color: white;
        padding: 7px;
        display: inline;
      }

      p
      {
        display: inline;
        margin-left: 6px;
        margin-right: 1%;
        //padding: 0 6px 0 1%;
      }

    }

    .facebook
    {
      background-color: #3c66c4;
      font-weight: bold;
      color: rgb(255, 255, 255);
      float: left;

      img
      {
        height: 24px;
        width: 24px;
        border-radius: 6px;
        background-color: white;
        padding: 20px;
        display: inline;
      }

      p
      {
        font-size: 0.8rem;
        display: inline;
        margin-left: 6px;
        margin-right: 1%;
        //padding: 0 6px 0 1%;
      }
    }
  }
}

.user-form-component
{
  padding: 2% 3% 3% 3%;

  h3
  {
    font-size: 1.4rem;
    font-weight: bold;
    width: 100%;
  }

  .input-container
  {
    width: 80%;
    margin-top: 5%;
    margin-left: 12%;
    float: left;

    label
    {
      color: rgb(136, 136, 136);
      font-weight: bold;
      display: inline;
    }

    input
    {
      padding: 15px;
      height: 35px;
      outline: none;
      border-radius: 10px;
      width: 45%;
      margin-left: 4%;
      display: inline;
      border: 1px solid rgb(146, 146, 146);
      transition: all 0.2s ease-in;

      &:focus
      {
        box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
      }
    }

    p
    {
      width: 115%;
      color: red;
    }
  }

  button
  {
    margin-top: 7%;
    margin-left: 75%;
  }
}

@media only screen and (max-width: 750px)
{
  .left-side-form
  {
    display: none;

    h3
    {
      display: none;
    }
  }
}
