<div class="container card" style="padding-bottom: 10%;">
  <h2>Inicio de sesión</h2><hr>
  <div class="row">

    <div class="col-md-3 left-side-form">
      <div class="left-side-form__text">
        <h3>Ingrese los datos solicitados</h3>
      </div>
    </div>

    <div class="col-md-9">
      <form class="form-horizontal" [formGroup]="loginUserForm" #fform="ngForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label class="col-lg-4 control-label">Mail:</label>
						<div class="col-md-8">
							<input type="email" class="form-control" formControlName="mail" placeholder="fede_mart99@gmail.com">
            </div><br>
            <label class="col-lg-4 control-label">Contraseña:</label>
						<div class="col-md-8">
							<input type="password" class="form-control" formControlName="password" placeholder="Contraseña">
            </div>
          </div>
          <button class="btn btn-primary mb-3" type="submit" [disabled]="loginUserForm.invalid">Ingresar</button><br>
          <span *ngIf="invalidLogin" style="color: red;">Usuario y/o contraseña incorrectos</span>
          <span *ngIf="loginUserForm.touched && loginUserForm.invalid" style="color: red;">
            <span *ngIf="loginUserForm.get('mail').errors">Inserte un mail válido.</span><br>
            <span *ngIf="loginUserForm.get('password').errors">Inserte una contraseña válida.</span><br>
          </span>
      </form>
    </div>

  </div>

  <app-loading-spinner *ngIf="getLoadingLogin()"></app-loading-spinner>

  <div class="row options-login-container">

    <div class="login-button-container">
      <button (click)="onGoogleLogin()" class="google">
          <img src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg">

          <p>Login with Google</p>
      </button>
    </div>

    <div class="login-button-container">
      <button (click)="onFacebookLogin()" class="facebook">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Facebook_f_logo_%282019%29.svg/1365px-Facebook_f_logo_%282019%29.svg.png">

        <p>Login with Facebook</p>
      </button>
    </div>
  </div>

  <div class="row user-form-component" *ngIf="showRegistrationForm">
    <h3>Datos extra necesarios:</h3>

    <form [formGroup]="completeRegistrationForm" (ngSubmit)="onFinishedLogin()">

      <div class="input-container">
        <label>Matrícula o DNI:</label>
        <input type="text" maxlength="8" minlength="5" formControlName='identifier' placeholder="11792">

        <p *ngIf="completeRegistrationForm.get('identifier').touched && completeRegistrationForm.get('identifier').invalid">Ingresar una valor válido de longitud entre 5 y 8 caracteres</p>
      </div>

      <button class="btn btn-primary" [disabled]="completeRegistrationForm.invalid">Cargar</button>

    </form>
  </div>
</div>
