<div class="row">
  <div class="col-md-12" style="margin-bottom: 1rem;">
    <drag-scroll class="scroll-menu" #nav>
      <div class="scroll-title">
        <h4>Niveles:</h4>
      </div>
      <button drag-scroll-item class="btn btn-primary btn-lg" (click)="onSelectLevel(level.id_nivel)"
        *ngFor="let level of levels" style="margin-right: 1rem;">
        {{ level.descripcion}}
      </button>

      <div class="col-md-4">&nbsp;</div>
      <div class="col-md-4">
        <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-primary btn-sm" (click)="scrollFirst()">Primero</button>
          <button type="button" class="btn btn-primary btn-sm" (click)="moveLeft()">Izquierda</button>
          <button type="button" class="btn btn-primary btn-sm" (click)="moveRight()">Derecha</button>
          <button type="button" class="btn btn-primary btn-sm" (click)="scrollToLast()">Último</button>
        </div>
      </div>
    </drag-scroll>
  </div>

  <!--<div class="col-md-4">&nbsp;</div>
  <div class="col-md-4">
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-primary btn-sm" (click)="scrollFirst()">Primero</button>
      <button type="button" class="btn btn-primary btn-sm" (click)="moveLeft()">Izquierda</button>
      <button type="button" class="btn btn-primary btn-sm" (click)="moveRight()">Derecha</button>
      <button type="button" class="btn btn-primary btn-sm" (click)="scrollToLast()">Último</button>
    </div>
  </div>
  <div class="col-md-4">&nbsp;</div>-->
</div>

<div style="align-items: center;">
  <br>
  <div class="row" *ngFor="let level of levels; let i=index" style="margin-top: 2rem" [id]="'level'+level.id_nivel">

    <div [class.col-md-8]='canEdit' [class.col-md-12]='!canEdit'>
      <div class="card text-center">
        <div class="card-header" *ngIf="showEditName!=level.id_nivel" style="background-color: rgb(178, 216, 216);">
          <div class="card-header-title left" style="float: left;">
            {{level.descripcion}}
            <span class="badge bg-success" style="color: white;" *ngIf="level.timesPlayed">
              Finalizado
            </span>
          </div>

          <div class="card-header-badges left" *ngFor="let badge of level.badges">
            <img src={{getPictureLinkForBadge(badge.tipo_insignia)}}>
            <div class="badge-title">
              {{ getBadgeTitle(badge.tipo_insignia) }}<br>


              {{getBadgeCondition(badge.id_insignia)}}
            </div>
          </div>
        </div>

        <div class="card-body">
          <h3 class="card-title">Nivel {{i+1}}</h3>

          <ul class="list-cover">
            <div class="units-title">
              Unidades
            </div>

            <div class="units">
              <li class="unit-level" *ngFor="let unit of level.unitList">
                {{unit.nombre}}
              </li>
            </div>
          </ul>

          <div class="btn-group" role="group" *ngIf="canEdit" style="margin-bottom: 4%;">
            <button class="btn btn-success btn-sm" *ngIf="!level.cuestionario_disponible" id="changeAvailability"
            (click)='onChangeAvailability(i, level.id_materia, level.id_nivel, level.cuestionario_disponible)'>
              Habilitar cuestionario</button>
            <button class="btn btn-secondary btn-sm" *ngIf="level.cuestionario_disponible" id="changeAvailability"
            (click)='onChangeAvailability(i, level.id_materia, level.id_nivel, level.cuestionario_disponible)'>
              Deshabilitar cuestionario</button>
            <button class="btn btn-primary" (click)="onEdit(level.id_nivel)" routerLink='level/{{level.id_nivel}}'
              *ngIf="canEdit" id="editMenu">
              Editar nivel&nbsp;&nbsp;
              <div class="help">
                <fa-icon [icon]="questionIcon"></fa-icon>
                <div class="help-text">
                  Crear preguntas, ver las insignias, crear nuevas, editar la información del nivel y eliminarlo.
                </div>
              </div>
            </button>
            <button class="btn btn-success btn-sm" *ngIf="!level.reintentos" (click)='onChangeretries(i, level.id_nivel, level.reintentos)'>
              Habilitar reintentos</button>
            <button class="btn btn-secondary btn-sm" *ngIf="level.reintentos" (click)='onChangeretries(i, level.id_nivel, level.reintentos)'>
              Deshabilitar reintentos</button>
          </div>

          <br>
          <div style="font-weight: bold;">
            Preguntas a reponder: {{level.cantidad_preguntas}}
            &nbsp;||&nbsp;
            Puntaje máximo: {{level.puntaje_maximo}}
          </div>

        </div>
        <div class="card-footer text-muted">
          <div class="row">
            <div class="col-md" style="border-right: 1px solid lightgrey;">
              Creado hace: {{calculateDateDifference(level.fecha_creacion)}} days ago
            </div>
            <div class="col-md" style="border-right: 1px solid lightgrey;">
              Jugado por: {{level.cantidad_estudiantes_intentos}} de {{cantStudents}} estudiantes
            </div>
            <div class="col-md">
              Fecha recomendada: {{getFormattedRecommendedDate(level.fecha_recomendada_realizacion)}}
            </div>
          </div>
        </div>
      </div>

      <div class="delete-menu" (click)="(!!level.cuestionario_disponible) &&
        onPlay(level.id_nivel, level.id_materia, level.penalizacion, level.puntaje_maximo, level.cantidad_preguntas, level.reintentos, level.timesPlayed)"
        *ngIf="!canEdit" [class.disable-play]="!level.cuestionario_disponible">
        <h4>
          Jugar
        </h4>
      </div>
    </div>

    <span class="error-input" *ngIf="showAttemptError==level.id_nivel">No se permiten más intentos para este nivel</span> <br>

    <div class="col-md-4" *ngIf="editingLevelId==level.id_nivel">
      <!--<router-outlet></router-outlet>-->
      <app-edit-subject [editingLevelId]='editingLevelId' (changeLevelValueEvent)="onChangeLevelValue($event)"
      (deleteLevelEvent)="onDeleteLevel($event)"></app-edit-subject>
    </div>
  </div>
</div>
