@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

$progressBar-color: rgb(151, 57, 76);
$question-title-background: rgb(238, 235, 88);
$primary-bg-color: rgb(236, 236, 236);
$secondary-bg-color: rgb(63, 63, 63);

.question-container
{
  border-radius: 7px;
  background-color: $primary-bg-color;
  width: 100%;
  height: 100%;
  padding-left: 25%;
  padding-right: 25%;

  .question
  {
    border: 1px solid gray;
    border-radius: 4px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;

    .question-title
    {
      color: $primary-bg-color;
      font-family: 'Ubuntu', sans-serif;
      background-color: $question-title-background;
      width: 100%;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 25px 55px -50px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

      h3
      {
        margin-left: 40%;
        padding: 1rem 0 1rem 0;
      }

      .coins
      {
        color: rgb(99, 99, 99);
        margin: -11% 0 0 82%;
        padding-bottom: 5%;
      }
    }

    progress
    {
      margin-top: -0.5rem;
      -webkit-appearance: none;
      appearance: none;
      width: 100%;
      height: 2rem;
    }

    progress::-moz-progress-bar
    {
      background-color: $progressBar-color;
    }

    progress::-webkit-progress-value
    {
      background: $progressBar-color;
    }

    progress
    {
      background-color: $progressBar-color;
    }

    .timer-number
    {
      margin-top: -0.8rem;
      margin-left: 24%;
      color: whitesmoke;
      font-family: 'Bree Serif', serif;
      position: absolute;
      font-size: 1.7rem;
    }
  }

  .question-text-option
  {
    margin-top: -0.4rem;
    background-color: $secondary-bg-color;
    height: 100%;
    width: 100%;
  }

  .question-text
  {
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    background-color: $primary-bg-color;
    //border: 1px solid grey;
    border-radius: 4px;
    margin: 1rem 25% 4.2rem 25%;
    padding: 4rem 0 4rem 0;
  }

  .question-option
  {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    text-align: center;
    background-color: $primary-bg-color;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 1.6rem;
    //padding-left: 10%;
    //border: 1px solid grey;
    border-radius: 5px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    transition: all .2s;

    &:hover
    {
      box-shadow: 0 1rem 2rem rgba(black, .15);
      transform: translateY(-2px);
    }

    &:active
    {
      transform: translateY(1px);
    }
  }

  .boosters
  {
    overflow: hidden;
    position: relative;
    margin-bottom: 0;
    text-align: center;
    align-content: center;
    color: white;

    .booster-item
    {
      width: 25%;
      height: 100%;
      border-right: 2px solid $primary-bg-color;
      padding-top: 1rem;
      padding-bottom: 1rem;
      float: left;

      &:hover
      {
        cursor: pointer;
      }

      &:last-child
      {
        border-right: 0;
      }

      .booster-price
      {
        font-weight: bold;
        margin: -14% 0 5% 48%;
        color: rgb(99, 99, 99);
      }
    }

    .more-time
    {
      background-color: rgb(46, 46, 170);
    }

    .double-chance
    {
      background-color: greenyellow;
    }

    .delete
    {
      background-color: red;
    }

    .other
    {
      background-color: powderblue;
    }
  }

}

.alert-container
{
  font-weight: bold;
  color: rgb(145, 145, 145);
  background: rgb(255,237,67);
  background: linear-gradient(90deg, rgba(255,237,67,1) 39%, rgba(254,255,33,1) 85%);
  top: 38%;
  left: 37%;
  padding: 4%;
  border-radius: 10px;
  position: absolute;
  border: 7px solid rgb(179, 179, 79);

  .content-container
  {
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    h3
    {
      margin-left: auto;
      margin-right: auto;
      width: 85%;
      font-size: 2.2rem;
    }

    h5
    {
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      font-size: 1.9rem;
    }

    .img-container
    {
      margin-left: auto;
      margin-right: auto;
      width: 42%;
    }

    p
    {
      margin-left: auto;
      margin-right: auto;
      width: 55%;
    }
  }
}


@media screen and (max-width: 700px)
{
  .question-container
  {
    padding-left: 0;
    padding-right: 0;

    .question
    {
      .timer-number
      {
        margin-left: 47%;
      }

      .question-title
      {
        h3
        {
          margin-left: 42%;
        }
      }
    }

    .question-text
    {
      margin-left: 10%;
      margin-right: 10%;
    }

    .question-option
    {
      margin-left: 10%;
      margin-right: 10%;
    }
  }
}

.wrong
{
  background-color: brown !important;
}

.right
{
  background-color: rgb(128, 255, 0) !important;
}

.option-disable
{
  filter: brightness(30%) !important;
}
