<div class="menu-container">
  <div class="close-option">
    <fa-icon [icon]='XIcon' (click)="onCloseWindow()"></fa-icon>
  </div>
  <div class="row badges-container">

    <div class="row form-container" style="width: 100%;">
      <form [formGroup]='createBadgeForm' (ngSubmit)="onCreateBadge()" id="editBadgeForm">

        <div class="input-form">
          <label style="width: 100%;">Seleccione una insignia:</label>
          <select formControlName='badgeType' *ngIf="getAvailableBadges()">
            <option *ngFor="let badgeInfo of getAvailableBadges()"
            value="{{badgeInfo.tipo_insignia}}">{{badgeInfo.nombre}}</option>
          </select>
        </div>

        <div *ngIf="selectedBadgeType!=-1">
          <div class="input-form">
            <label>Puntaje extra:</label>
            <input type="number" formControlName='extra'>
          </div>

          <div class="input-form" *ngIf="selectedBadgeType!=2">
            <label>{{ getParameterName(selectedBadgeType) }}:</label>
            <input type="number" formControlName='parameter'>
          </div>

          <div class="input-form" *ngIf="selectedBadgeType==2">
            <label>{{ getParameterName(selectedBadgeType) }}:</label>
            <input type="date" formControlName='date'>
          </div>

          <div class="input-form" *ngIf="selectedBadgeType==1">
            <label>Por pregunta:</label>
            <input type="checkbox" formControlName='perQuestion'>
          </div>
        </div>

        <button class="btn btn-primary" [disabled]='getFormValidation()' id='uploadBadgeChanges'>Cargar cambios</button>
      </form>
    </div>

  </div>
</div>
