<div class="back-container">
  <button class="btn btn-primary" routerLink="/flashcards/list">
    <fa-icon [icon]="arrowLeft"></fa-icon>
    Volver
  </button>

</div>
<div class="row">

  <div class="create-flashcard-container">
    <div class="title">
      Nueva flashcard
    </div>
    <form [formGroup]="newFlashCardInformationForm" #fform="ngForm" (ngSubmit)="onCreateFlashcard()" id="newFlashcardForm">

      <div class="row">
        <div class="row" style="width: 100%;">
          <label class="input-title" for="subject">
            Escoge un materia:
          </label>

          <select id="subject" name="subject" formControlName="subject" class="form-input-position-size">
            <option *ngFor="let subject of subjectsToSelect" value="{{subject.id_materia}}">{{subject.nombre}}</option>
          </select>
        </div>

        <div class="row" style="width: 100%;" *ngIf="levelsForSelectedSubject!=null">
          <label class="input-title" for="subject">
            Escoge un nivel:
          </label>

          <select id="subject" name="subject" formControlName="level" class="form-input-position-size">
            <option value="" selected></option>
            <option *ngFor="let level of levelsForSelectedSubject" value="{{level.id_nivel}}">{{level.descripcion}}</option>
          </select>
        </div>

      </div>

      <div class="row">
        <label class="input-title">
          Título:
        </label>

        <input type="text" class="form-input form-input-position-size" formControlName="title" placeholder="">
        <span *ngIf="newFlashCardInformationForm.get('title').touched && newFlashCardInformationForm.get('title').invalid" style="color: red;">
          Ingrese un valor válido
        </span>
      </div>

      <div class="row">
        <button class="btn btn-primary btn-lg"
        style="margin-bottom: 1rem;" id="addFlashcard"
        (click)="onAddNewFlashcardItem()" type="button">+ Flashcard</button>
      </div>

      <div class="row" *ngFor="let item of getItemsControl().controls; index as i" formArrayName="items">
        <label class="input-title">
          Contenido Flashcard Nº{{i+1}}:
        </label>

        <textarea type="text" class="form-input form-input-position-size"
        [formControlName]="i" placeholder="" rows="15"></textarea>

        <fa-icon [icon]="trashIcon" class="trash-icon btn btn-danger btn-sm"
        (click)="onRemoveNewFlashcardItem(i)" id="removeFlashcardItemButton"></fa-icon>
      </div>

      <div class="row">
        <button class="btn btn-primary btn-lg"
        style="margin-bottom: 1rem;" id="createButton"
        [disabled]="newFlashCardInformationForm.invalid" type="submit">Crear</button>

        <span *ngIf="showErrorMessage" style="color: red;">Ocurrió un error al crear las flashcards</span>
      </div>
    </form>
  </div>

</div>
