<div class="container card">
  <h2>Nueva materia</h2><hr>
  <div class="row">

    <div class="col-md-3 left-side-form">
      <div class="left-side-form__text">
        <h3>Ingrese los datos de la materia</h3>
      </div>
    </div>

    <div class="col-md-9">
      <form class="form-horizontal" [formGroup]="newSubjectForm" #fform="ngForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
						<label class="col-lg-4 control-label">Nombre</label>
						<div class="col-md-8">
							<input type="text" class="form-control" formControlName="name" placeholder="Introduccion a la quimica">

              <span *ngIf="newSubjectForm.get('name').touched && newSubjectForm.get('name').invalid">Inserte un nombre válido.</span>
            </div>
            <label class="col-lg-4 control-label">Cuatrimestre</label>
						<div class="col-md-8">
							<select class="form-select" aria-label="Default select example" formControlName="quarter">
                <option value="1">Primer cuatrimestre</option>
                <option value="2">Segundo cuatrimestre</option>
              </select>

              <span *ngIf="newSubjectForm.get('quarter').touched && newSubjectForm.get('quarter').invalid">Seleccione un cuatrimestre.</span>
            </div>
            <label class="col-lg-4 control-label">Año</label>
						<div class="col-md-8">
							<input type="text" class="form-control" formControlName="year" placeholder="2021">

              <span *ngIf="newSubjectForm.get('year').touched && newSubjectForm.get('year').invalid">Inserte un año válido.</span>
            </div>
            <label class="col-lg-4 control-label">Carrera</label>
						<div class="col-md-8">
							<input type="text" class="form-control" formControlName="career" placeholder="Ingenieria en Informática">

              <span *ngIf="newSubjectForm.get('career').touched && newSubjectForm.get('career').invalid">Inserte un nombre de carrera válido.</span>
						</div>

            <label class="col-lg-4 control-label">Imagen de portada</label>
            <input type="file" class="form-control-file" style="margin-left: 2%;" formControlName="image" (change)="onFileChanged($event)">
        </div>
          <button class="btn btn-primary mb-3" type="submit" [disabled]="newSubjectForm.invalid">Change</button>
      </form>
    </div>

  </div>
</div>
