<ng-template #contentNewAchievement let-modal>
  <app-achievement-menu [idStudent]="selectedUserId" [studentName]="selectedUserName"></app-achievement-menu>
</ng-template>

<div class="list-container">
  <div class="list-title">
    Listado de estudiantes
  </div>

  <div class="filter-list">
    <button class="filter" (click)="this.availableFilters[0] && applyFilter(0)"><fa-icon [icon]='noOrder'></fa-icon> Defecto</button>
    <button class="filter" (click)="this.availableFilters[1] && applyFilter(1)"><fa-icon [icon]='alphabeticalOrder'></fa-icon> Alfabético</button>
    <button class="filter" (click)="this.availableFilters[2] && applyFilter(2)"><fa-icon [icon]='numericalOrder'></fa-icon> Puntaje</button>
    <button class="filter" (click)="this.availableFilters[3] && applyFilter(3)"><fa-icon [icon]='achievementOrder'></fa-icon> Nº de logros</button>
  </div>

  <table class="table-list">
    <thead class="head-list">
      <tr>
        <td>#</td>
        <td>Nombre y apellido</td>
        <td>Mail</td>
        <td>Resultados</td>
        <td>Puntaje total</td>
        <td> <fa-icon [icon]='plusIcon'></fa-icon> logros</td>
        <td>Acción</td>
      </tr>
    </thead>

    <tbody>

      <tr *ngFor="let student of students, let i=index">
        <td>{{i+1}}</td>
        <td>{{student.nombre+' '+student.apellido}}</td>
        <td>{{student.mail}}</td>
        <td>

          <a (click)="setMoreInfo(i)" id="showMoreInfo">Desplegar información</a>
          <table *ngIf="showMoreInfo==i" class="head-list-little">
            <thead>
              <tr>
                <td>Nivel</td>
                <td>Intentos</td>
                <td>¿Uso booster?</td>
                <td>Insignias ganadas</td>
                <td>Puntaje obtenido</td>
                <td>Puntaje máximo</td>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let result of student.levelResult">
                <td>{{result.descripcion}}</td>
                <td>{{result.intentos}} intentos</td>
                <td>{{result.uso_booster? "Si":"No"}}</td>
                <td>{{getBadgeName(result.uso_insignias)}}</td>
                <td>{{result.puntaje_final}}</td>
                <td>{{result.puntaje_maximo}}</td>
              </tr>
            </tbody>
          </table>
        </td><!--
        <td>{{student.puntaje_prom}}</td>-->
        <td>{{student.puntaje_tot}}</td>
        <td class="icon-field">
          <fa-icon [icon]='plusIcon' class="fa-icon"
          (click)="assignAchieveToUser(contentNewAchievement, student.id_usuario, student.nombre+' '+student.apellido)"></fa-icon>
        </td>
        <td class="icon-field">
          <div class="row">
            <div class="col-md-1 email-icon">
              <fa-icon [icon]='envelopeIcon' class="fa-icon"
              (click)="onSendEmail(student.mail)"></fa-icon>
            </div>
            &nbsp;
            <div class="col-md-1 delete-icon">
              <fa-icon [icon]='minusIcon' class="fa-icon"
              (click)="showUnlinkUser(student.id_usuario, i)"></fa-icon>
            </div>
          </div>
        </td>

      </tr>
    </tbody>
  </table>

  <div class="row" style="margin-top: 1rem;" *ngIf="!showEmailMenu">
    <div class="col-md-9">&nbsp;</div>
    <div class="col-md-2"><button class="btn btn-success" (click)="onSendEmailAll()">Enviar mail a todos</button></div>
    <div class="col-md-1">&nbsp;</div>
  </div>

  <div class="email-container" *ngIf="showEmailMenu">
    <app-send-email [emailsToSend]="emailsToSend" (cancelationEmitter)="onCancelSendEmail($event)"></app-send-email>
  </div>
</div>

<div class="error-container" *ngIf="getShowError() || getShowDeleteQuestion()">
  <div class="row" *ngIf="getShowDeleteQuestion()">
    <div class="col-md-5">
      <h5>¿Seguro querés eliminar el usuario?</h5>
    </div>
  </div>

  <div class="row buttons" *ngIf="getShowDeleteQuestion()">
    <div class="col-md-7">
      &nbsp;
    </div>
    <div class="col-md-5">
      <button class="btn btn-danger" (click)="unlinkUser()">
        Si
      </button>
      <button class="btn btn-link" (click)="setShowDeleteQuestion(false)">
        No
      </button>
    </div>
  </div>

  <div class="row" *ngIf="getShowError()">
    <div class="col-md-5">
      <h4>Ocurrió un error. Intente más tarde</h4>
    </div>
  </div>
</div>
