.menu-container
{
  width: 200%;
  position: absolute;
  margin-left: -175%;
  margin-top: -100%;
  border-radius: 10px;
  border: rgb(0, 110, 255) 1px solid;
  background-color: rgb(164, 194, 233);
  padding: 3%;

  .close-option
  {
    font-size: 1.2rem;
    margin-top: -1%;
    margin-bottom: 2%;
    margin: -1% 0 1% 98%;
  }

  .badges-container
  {

    .badge
    {
      width: 34%;
      margin-left: auto;
      margin-right: auto;
      border: 1px oldlace solid;
      padding: 2%;
      background-color: rgb(97, 117, 143);
      transition: all 0.2s ease-in-out;


      .badge-information
      {
        width: 100%;
        margin-left: auto;
        margin-right: auto;

        img
        {
          margin-left: auto;
          margin-right: auto;
          width: 100%;
          margin-bottom: 10%;
        }

        .title
        {
          word-wrap: break-word;
          margin-left: -50%;
        }
      }

      &:hover
      {
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        transform: scale(1.05);
      }

    }

    .form-container
    {
      margin-top: 3%;
      margin-left: 5%;

      .input-form
      {
        width: 100%;
        margin-bottom: 4%;

        label
        {
          font-weight: bold;
          color: rgb(80, 80, 80);
        }

        input
        {
          background-color: rgb(164, 194, 233);
          padding: 2px;
          width: 100%;
          height: 2.4rem;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
          outline: 0;
          border-top: 0;
          border-left: 0;
          border-right: 0;
          border-bottom: 1px aqua solid;
          border-top-left-radius: 2px;
          border-top-right-radius: 2px;
          transition: all 0.2s ease;

          &:focus
          {
            border-bottom: 3.5px aqua solid;
          }
        }

        &:last-child
        {
          margin-bottom: 10% !important;
        }
      }

      button
      {
        margin-top: 10%;
      }
    }

  }
}
