.edit-container
{
  background-color: whitesmoke;
  border-radius: 7px;
  height: 100%;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30%;

  .back-button
  {
    font-size: 1.6rem;
    width: 100%;
    margin: 0.5% 0 1% 3%;
    color: rgb(151, 151, 151);

    &:hover
    {
      cursor: pointer;
    }
  }

  .icon-trash
  {

    font-size: 1.2rem;
    color: red;
    margin-top: 10px;

    &:hover
    {
      filter: brightness(1.5);
      cursor: pointer;
    }
  }

  .leftposition {
    align-content: center;
    align-items: center;
    text-align: center;
    margin-left: -18%;
  }

  .flashcard-delete
  {
    font-size: 3rem;
  }

  .flashcard-card
  {
    background: radial-gradient(#1fe4f5, #3fbafe);
    border-radius: 8px;
    border: 4px rgb(0, 187, 255) solid;
    padding: 5%;
    margin-top: 10%;
    margin-left: 8px;
    margin-right: 8px;
    color: honeydew;
    font-weight: bold;
    align-items: center;
    transition: all 0.25s ease-in;

    &:hover
    {
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      transform: scale(1.05);
    }

    .title-card
    {
      font-size: 1.2rem;
      width: 100%;
      margin-right: auto;
      word-wrap: break-word;
    }

    .content-card
    {
      margin-top: 5%;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .flashcard-title
  {
    word-wrap: break-word;
    font-size: 3rem;
    font-weight: bold;
    color: rgb(100, 199, 166);
    padding: 10px;
    padding-left: 5%;
  }

  .bottom-border
  {
    content : "";
    //border-bottom: 2px gray solid;
    left    : 0;
    bottom  : 0;
    width   : 95%;  /* or 100px */
    border-bottom: 2px solid rgb(121, 121, 121);
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .edit-content
  {
    background-color: rgb(123, 185, 214);
    border-radius: 10px;
    border: 1px honeydew solid;
    outline: none;
    width: 100%;
    margin-bottom: 1%;
    color: whitesmoke;
  }

  .edit-content-title {
    width: 50%;
  }

  .cancel-content
  {
    color: rgb(199, 0, 0);
    font-weight: bold;
  }

  .error-message
  {
    width: 100%;
    color: red;
    font-size: 0.8rem;
    margin-top: 10%;
  }

  .form-title
  {
    width: 100%;
    text-decoration: underline;
    margin-top: 3%;
    margin-left: -2%;
    font-weight: bold;
    font-size: 1.2rem;
  }
}

.modal-container {
  h3 {
    padding: 1rem;
  }

  .options-container {
    padding: 1rem;

    .option {
      align-items: center;
      align-self: center;
      align-content: center;
      text-align: center;
    }
  }
}

@media only screen and (max-width: 767px) {
  .edit-container {
    .leftposition {
      margin-left: 0%;
    }

    .flashcard-delete {
      font-size: 2rem;
      margin-left: 10%;
    }
  }

}
