<div class="container" style="padding-top: 1rem;">
  <div class="row">
    <div class="col-md-12 card">
      <h2>Mis materias</h2>
      <hr>

      <div class="row dropdown">
        <div class="col-md-12">
          <button class="btn btn-outline-primary" (click)="onChangeView()">
            Seleccionar &nbsp;
            <fa-icon [icon]="getIconArrowDown()"></fa-icon>
          </button>

          <div class="dropdown-content" *ngIf="getShowDropDown()">
            <a routerLink='cursando' class="dropdown-item">Cursando</a>
            <a routerLink='administrando' class="dropdown-item" *ngIf="getCanEdit()">Administrando</a>
          </div>
        </div>
      </div>

      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<div class="footer-search">
  <div class="title-container">
    <h4>No encontras tu materia</h4>
    <h1>Buscala acá:</h1>
  </div>

  <div class="search-box">
    <app-search-box></app-search-box>
  </div>
</div>
